---
layout: default
---

<div class="home">

  <h1>CS at UVa</h1>

  <p>This is a work-in-progress site for students in the Computer Science department at the University of Virginia. It currently contains information about CS courses; we plan to add pages for student organizations and ongoing research.</p>

  <p>If you have suggestions or would like to contribute to the site, please contact one of the organization admins (Hudson Burgess, Andrew Norton, Sam Havron) via our Slack channel.</p>

  <h2>Site contents</h2>

  <ul>
      <li><a href="course-info">Course Info</a></li>
  </ul>

<!--
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->

</div>
